<p-table [value]="pessoas" [lazy]="true" (onLazyLoad)="loadCustomers($event)" responsiveLayout="scroll" dataKey="codigo" selectionMode="single"
    [selection]="pessoaSelecionada" (selectionChange)="onSelectionChange($event)" [selectAll]="selectAll" (selectAllChange)="onSelectAllChange($event)"
    [paginator]="true" [rows]="10" [totalRecords]="totalRecords" [loading]="loading">
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 3rem"></th>
            <th>Código</th>
            <th>Nome</th>
            <th>Naturalidade<p-sortIcon field="company"></p-sortIcon></th>
            <th>Data de Nascimento</th>
            <th>Site</th>
            <th>Email</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-pessoa>
        <tr [pSelectableRow]="pessoa">
            <td>
                <p-tableCheckbox [value]="pessoa"></p-tableCheckbox>
            </td>
            <td>{{pessoa.codigo}}</td>
            <td>{{pessoa.nome}}</td>
            <td>{{pessoa.naturalidade}}</td>
            <td>{{pessoa.dataNascimento}}</td>
            <td>{{pessoa.site}}</td>
            <td>{{pessoa.email}}</td>
        </tr>
    </ng-template>
</p-table>
{{pessoaSelecionada}}