<div class="d-flex justify-content-end mb-2">
  <button pButton class="p-button-text p-button-rounded p-button-plain p-button-lg p-button" icon="pi pi-bars"
    title="Filtrar"></button>
</div>
<div class="card p-fluid">
  <div class="card-body">
    <form>
      <div class="row">
        <div class="form-group col-md-8">
          <label for="exampleInputEmail1">Nome</label>
          <input class="form-control" placeholder="Nome">
        </div>

        <div class="field  col-md-4">
          <label for="datanascimento">Data de Nascimento </label>
          <p-calendar name="dataNascimento" [(ngModel)]="dataNascimento" dateFormat="dd/mm/yy" [showIcon]="true">
          </p-calendar>
        </div>
      </div>

      <div class="row">

        <div class="form-group  col-md-3">
          <label for="exampleInputPassword1">Naturalidade</label>
          <input class="form-control" placeholder="Naturalidade">
        </div>

        <div class="form-group  col-md-3">
          <label for="exampleInputPassword1">Nacionalidade</label>
          <input class="form-control" placeholder="Nacionalidade">
        </div>

        <div class="form-group  col-md-3">
          <label for="exampleInputPassword1">Site</label>
          <input class="form-control" placeholder="Site">
        </div>

        <div class="form-group  col-md-3">
          <label for="exampleInputPassword1">Email</label>
          <input class="form-control" placeholder="Email">
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-sm-12" style="text-align: center;">
          <button class="btn btn-primary">Salvar</button>
        </div>
      </div>
    </form>
  </div>
</div>